<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}</style>

    <title>User SignUp Home</title>
</head>
<body>
    <div>
        <h1>User SignUp</h1>
        
    </div>
    <div>
        <form action="/user" method="post">
            <label>Enter your FullName</label>
            <input type="text" required name="name"/>
            <label>Enter your Email</label>
            <input type="email" required name="email"/>
            <label>Enter your Password</label>
            <input type="password" required name="password"/>
            <button type="submit" >SignUp</button>


        </form>
    </div>
    
</body>
</html>